* {
  font-family: Poppins, sans-serif;
  padding: 0;
  margin: 0;
}

.main-block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 375px;
}

.head-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 375px;
  height: auto;
  background-color: #fff;
}

.logo {
  color: #6070ff;
  text-decoration: none;
  margin: 58px 24px;
  width: 76px;
  height: 20px;
  display: inline-block;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

.ham-menu {
  margin: 58px 36px;
  height: 12px;
  width: 18px;
}

.home-page {
  background-image: url("./Images/header-shapes-mobile@2x.png");
  background-repeat: no-repeat;
  width: 375px;
  height: 718px;
  background-size: contain;
  background-color: #fff;
  border-bottom-left-radius: 70px;
  z-index: 1;
}

.intro {
  height: 150px;
  width: 327px;
  left: 24px;
  top: 114px;
  font-size: 40px;
  line-height: 52px;
  font-weight: 700;
  margin-top: 103px;
  margin-left: 24px;
  margin-right: 24px;
  color: #172b4d;
}

.intro-description {
  height: 146px;
  width: 327px;
  left: 24px;
  top: 276px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #344563;
  margin-top: 12px;
  margin-left: 24px;
}

.bottom-connect {
  height: 24px;
  left: 0;
  top: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  display: inline-block;
  margin: 12px 24px;
}

.icon-container {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 165px;
  margin-left: 24px;
  color: #505f79;
}

.grid-container {
  display: grid;
  grid-auto-flow: row;
  justify-items: center;
  margin-top: -55px;
  width: 375px;
  background-color: #f7f7f9;
  height: auto;
  padding-top: 70px;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  height: 596px;
  width: 327px;
  left: 24px;
  top: 1438px;
  border-radius: 16px;
  margin-top: 88px;
  border: 1px solid #dfe1e6;
  gap: 1em;
}

.work-image {
  height: 220px;
  width: 295px;
  left: 16px;
  top: 16px;
  border-radius: 8px;
  padding: 0 16px;
}

.card-title {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0;
  text-align: left;
  color: #172b4d;
  margin-top: 0;
  margin-bottom: 12px;
}

.para-one {
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  color: #344563;
}

.para-two {
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  color: #7a869a;
}

.card-element {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 24px;
  margin-bottom: 12px;
}

.card-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 235px;
  margin-bottom: 12px;
}

.card-body {
  margin-bottom: 12px;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: #344563;
}

.tech-stack {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  margin-bottom: 25px;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}

.tech-items {
  padding: 4px 12px;
  background-color: #ebebff;
  color: #6070ff;
  border-radius: 8px;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 3%;
}

.card-button {
  color: #396df2;
  text-decoration: none;
  padding: 12px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
}

.card-button:hover {
  color: #fff;
  text-decoration: none;
  padding: 12px;
  background-color: #6070ff;
  border-radius: 8px;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
}

.card-button:focus {
  color: #fff;
  text-decoration: none;
  padding: 12px;
  background-color: #2230d2;
  border-radius: 8px;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
}

.about-sec {
  background-color: #fff;
  width: 375px;
  height: 1263px;
  border-top-right-radius: 70px;
  margin-top: 88px;
}

.about-intro {
  height: 100px;
  width: 327px;
  left: 24px;
  top: 114px;
  font-size: 40px;
  line-height: 52px;
  font-weight: 700;
  margin-top: 103px;
  margin-left: 24px;
  margin-right: 24px;
  color: #172b4d;
}

.about-description {
  height: 146px;
  width: 327px;
  left: 24px;
  top: 276px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #344563;
  margin-top: 12px;
  margin-left: 24px;
}

.about-button {
  color: #396df2;
  text-decoration: none;
  padding: 12px;
  border: 1px solid #607dff;
  border-radius: 8px;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  width: 135px;
  left: 12px;
}

.about-button:hover {
  color: #fff;
  text-decoration: none;
  padding: 12px;
  background-color: #6070ff;
  border-radius: 8px;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  width: 135px;
}

.about-button:focus {
  color: #fff;
  text-decoration: none;
  padding: 12px;
  background-color: #2230d2;
  border-radius: 8px;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  width: 135px;
}

.button-one {
  margin: 32px 24px;
}

.about-skill {
  display: flex;
  flex-direction: column;
  margin-top: 35px;
  margin-left: auto;
  margin-right: auto;
  width: 327px;
}

.tech-names-list {
  padding-left: 0;
}

.about-skill li {
  list-style: none;
}

.language-arrow,
.framework-arrow,
.skill-arrow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.language-arrow {
  margin-bottom: 36px;
  margin-top: 25px;
}

.framework-arrow {
  margin-bottom: 23px;
  margin-top: 15px;
}

.skill-arrow {
  margin-bottom: 23px;
  margin-top: 23px;
}

.language-arrow h3,
.framework-arrow h3,
.skill-arrow h3 {
  line-height: 24px;
  right: 78px;
  left: 12px;
  font-size: 20px;
  font-weight: 500;
}

.skills {
  display: flex;
  padding: 7px 0 7px 15px;
  border-radius: 8px;
  margin-bottom: 12px;
  background-color: #f7f7f9;
}

.skill-list {
  display: flex;
  flex-direction: column;
  padding-left: 0;
}

.skill-para {
  display: flex;
  align-items: center;
  margin-left: 16px;
  color: #253858;
  font-size: 15px;
  height: 50px;
  line-height: 20px;
  font-weight: 500;
  left: 76px;
  right: 12px;
}

hr {
  margin: 5px 0;
  border: 1px solid #dfe1e6;
}

.card-tonic {
  height: 546px;
}

.card-multi {
  height: 590px;
}

/* contact form start */

.card-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #6070ff;
  height: 779px;
  width: 375px;
  left: 24px;
  border-radius: 86px 0 0;
  border: 1px solid #dfe1e6;

  /* gap: 1em; */
  background-image: url("/Images/contact_form_shapes_mobile.png");
  background-repeat: no-repeat;
  background-position: right;
  margin-top: -113px;
}

.contact-text {
  color: #fff;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  margin-top: 103px;
}

.contact-para {
  color: #ebebff;
  padding: 12px 24px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
}

.form-content {
  list-style-type: none;
}

.form-list {
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  height: 48px;
  width: 327px;
  left: 0;
  top: 0;
  margin-top: 20px;
}

.form-list1 {
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  height: 48px;
  width: 327px;
  left: 0;
  top: 0;
  margin-top: 18px;
}

.form-list-textarea {
  height: 170px;
  width: 327px;
  left: 0;
  top: 0;
  border-radius: 8px;
  margin-top: 18px;
}

.form-list-textarea::placeholder {
  padding-left: 16px;
  padding-top: 15px;
}

.button1 {
  color: #6070ff;
  background-color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  padding: 12px 16px;
}

.button-list {
  margin-top: 22px;
}

.form-list::placeholder {
  padding-left: 16px;
  padding-top: 15px;
}

.form-list1::placeholder {
  padding-left: 16px;
  padding-top: 15px;
}
